.non-homepage-blur {
	height: 100px;
	overflow:hidden;
}
.non-homepage-blur .img-src{
	height: 100px;
	overflow:hidden;
}
.navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}